<!--
Copyright (c) 2018, Toyota Motor Corporation
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice,
   this list of conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
 * Neither the name of Toyota Motor Corporation nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <arg name="use_bag" default="false"/>
  <arg name="launch_rviz" default="true"/>
  <arg name="launch_joy" default="true"/>

  <!-- Specify the bag file -->
  <arg name="bag_file" default="default.bag"/>

  <!-- Play the bag file and use simulated clock -->
  <include if="$(arg use_bag)" file="$(find hsrb_mapping)/launch/include/play_bag_file.launch.xml">
    <arg name="bag_file" value="$(arg bag_file)"/>
  </include>

  <!-- Start Google Cartographer -->
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="-configuration_directory $(find hsrb_mapping)/config -configuration_basename hsrb.lua">
  </node>

  <!-- Rviz -->
  <include if="$(arg launch_rviz)" file="$(find hsrb_mapping)/launch/rviz.launch"/>

    <!-- teleop_joy -->
  <include if="$(arg launch_joy)" file="$(find hsrb_mapping)/launch/teleop_joy.launch">
    <arg name="with_rviz" value="false"/>
  </include>

</launch>
